<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <form action="" method="post">
        {% csrf_token %}
        <p>用户名:<input type="text" name="username" onblur="checkname()" id="username"></p>
        <p>密码:<input type="text" name="password"></p>
        <p>性别:<input type="radio" name="gender" value="男">男<input type="radio" name="gender" value="女">女</p>
        <p>爱好:
            <input type="checkbox" value="登山" name="hobby">登山
            <input type="checkbox" value="游泳" name="hobby">游泳
            <input type="checkbox" value="音乐" name="hobby">音乐
            <input type="checkbox" value="作业" name="hobby">写作业
        </p>
        <p>
            城市：
            <select name="address">
                <option>请选择城市</option>
                <option value="北京">北京</option>
                <option value="上海">上海</option>
                <option value="广州">广州</option>
            </select>
        </p>
        <p>
            个人简介:
            <textarea name="intro" cols="30" rows="10"></textarea>
        </p>
        <p>
            <input type="submit" value="提交">
            <input type="reset" value="取消">
        </p>
    </form>
</div>
</body>
</html>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script>
    //检查用户名的唯一性 onblur 失去焦点的事件
    function checkname(){
        //jquery中获取表单元素
        let name=$("#username").val()
        console.log(name)
    }
</script>