<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>教学武器商品信息添加</title>
</head>
<body>
    <h1>添加教学武器商品信息</h1>
    <form action="" method="POST">
        <p>
            商品名称:<input type="text" name="goods_name">
        </p>

        <p>
            商品价格:<input type="number" name="goods_price">
        </p>

        <p>
            商品数量:<input type="number" name="goods_number">
        </p>

        <p>
            商品种类:<input type="text" name="goods_category">
        </p>

        <p>
            <input type="submit" value="提交">
            <input type="reset" value="重置">
        </p>
    </form>
</body>
</html>